{% extends 'base.html' %}

    {% block title %}Cadastrar Colaborador{% endblock %}

    {% block content %}

    <div class="container" id="idcadastro">
        {% set messages = get_flashed_messages() %}
        {% for message in messages %}
            <p  class="alert alert-success" role="alert">{{message}}</p>
        {% endfor %}
        <form method="post" autocomplete="off">
            <div class="mb-3">
              <label for="matricula" class="form-label">matricula</label>
              <input type="text" class="form-control" id="matricula" name="matricula" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email   </label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="curso" class="form-label">Curso   </label>
              <input type="text" class="form-control" id="curso" name="curso">
            </div>
            
            <button type="submit" class="btn btn-primary">cadastrar</button>
          </form>
    </div>

    {% endblock %}